---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION,SITE_TITLE } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
      <section id="introduce">
        <h1>Đây là <span>IU</span></h1>
        <h2>Ca sĩ - Diễn viên - Nguời của công chúng</h2>
      </section>
		</main>
		<Footer />
	</body>
</html>
