---
interface NavItem {
  href: string;
  title: string;
}

const navItems = [
  { href: "/", title: "Trang chủ" },
  { href: "/blogs", title: "Bài viết" },
  { href: "/about", title: "Về mình" },
] satisfies NavItem[];
---

<header class="flex items-center justify-between px-4">
  <nav id="navigation-menu" class="flex gap-4 py-5">
    {
      navItems.map((item) => (
        <a class="rounded-xl border-2 border-black px-4 py-2" href={item.href}>
          {item.title}
        </a>
      ))
    }
  </nav>
  <section id="title" class="text-2xl">Điện thánh nữ</section>
</header>
