---
import { Icon } from "astro-icon";

const FACEBOOK_LINK = "https://www.facebook.com/profile.php?id=100063695785038&paipv=0&eav=AfaMa9RxgsQEcjGP__jLIXwFDxixry24BbY_1Szrhfgm_Mnq1w1euBD52w-TMojko8o"
const INSTAGRAM_LINK = "https://www.instagram.com/"
const TWITTER_LINK = "https://twitter.com/home"

---

<footer class="border-t py-4 flex justify-around items-center">
  <section class="flex gap-4">
    <a title="facebook-link" class="w-10 cursor-pointer" href={FACEBOOK_LINK} target="_blank" rel="noopener noreferrer">
      <Icon pack="carbon" name="logo-facebook" />
    </a>
    <a title="instagram-link" class="w-10 cursor-pointer" href={INSTAGRAM_LINK} target="_blank" rel="noopener noreferrer">
      <Icon pack="carbon" name="logo-instagram" />
    </a>
    <a title="twitter-link" class="w-10 cursor-pointer" href={TWITTER_LINK} target="_blank" rel="noopener noreferrer">
      <Icon pack="carbon" name="logo-twitter" />
    </a>
  </section>

  <section>
    2022 - The 99's Puppycat © All rights reserved
  </section>
</footer>
