---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    className,
    "inline-block",
    {
      ["font-extrabold underline decoration-wavy decoration-2"]: isActive,
      ["decoration-none"]: !isActive,
    },
  ]}
  {...props}
>
  <slot />
</a>
